<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
	<div class="navbar nav_title" style="border: 0;">
	  <a href="index.html" class="site_title"><i class="glyphicon glyphicon-home"></i> <span>Savina Website</span></a>
	</div>

	<div class="clearfix"></div>

	<!-- menu profile quick info -->
	<div class="profile clearfix">
	  <div class="profile_pic">
		<img src="/img/SiYoSa-Logo-notext.png" alt="..." class="img-circle profile_img">
	  </div>
	  <div class="profile_info">
		<span>Welcome,</span>
		<h2>Admin Savina</h2>
	  </div>
	</div>
	<!-- /menu profile quick info -->

	<br />

	<!-- sidebar menu -->
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
	  <div class="menu_section">
		<h3>General</h3>
		<ul class="nav side-menu">
		  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="index.html">Thống kê tổng hợp</a></li>
			  <li><a href="login.html">Login</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-edit"></i> Quản lý Category <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="category-main.html">Category Main</a></li>
			  <li><a href="category-sub1.html">Category Sub 1</a></li>
			  <li><a href="category-sub2.html">Category Sub 2</a></li>
			  <li><a href="category-sub3.html">Category Sub 3</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-edit"></i> Quản lý sản phẩm <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="general_elements.html">Tạo sản phẩm</a></li>
			  <li><a href="media_gallery.html">Danh sách sản phẩm</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-edit"></i> Quản lý đơn hàng <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="general_elements.html">Tạo đơn hàng</a></li>
			  <li><a href="media_gallery.html">Danh sách đơn hàng</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-desktop"></i> Quản lý khách hàng <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="general_elements.html">Nhóm khách hàng</a></li>
			  <li><a href="media_gallery.html">Danh sách khách hàng</a></li>
			  <li><a href="typography.html">Tạo khách hàng mới</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-table"></i> Quản lý các banner <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="tables.html"> Main slider</a></li>
			  <li><a href="tables_dynamic.html">Các banner nhỏ</a></li>
			  <li><a href="tables_dynamic.html">Các banner trái</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-bar-chart-o"></i> Quản lý tin nhắn  <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="chartjs.html">Tin nhắn từ Contact</a></li>
			  <li><a href="chartjs2.html">Tin nhắn từ CHAT</a></li>
			  <li><a href="morisjs.html">Tin nhắn khác</a></li>
			</ul>
		  </li>
		  <li><a><i class="fa fa-clone"></i>Quản lý hệ thống <span class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
			  <li><a href="fixed_sidebar.html">Tạo nhóm TK local</a></li>
			  <li><a href="fixed_footer.html">Tạo TK backend local</a></li>
			  <li><a href="fixed_footer.html">Tracking logs</a></li>
			  <li><a href="fixed_footer.html">Get link image</a></li>
			  <li><a href="fixed_footer.html">Quản lý SEO</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</div>
	<!-- /sidebar menu -->

	<!-- /menu footer buttons -->
	<div class="sidebar-footer hidden-small">
	  <a data-toggle="tooltip" data-placement="top" title="Settings">
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	  </a>
	  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
		<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
	  </a>
	  <a data-toggle="tooltip" data-placement="top" title="Lock">
		<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
	  </a>
	  <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
		<span class="glyphicon glyphicon-off" aria-hidden="true"></span>
	  </a>
	</div>
	<!-- /menu footer buttons -->
  </div>
</div>